absl-py==1.4.0
astor==0.8.1
cached-property==1.5.2
certifi==2021.5.30
charset-normalizer==2.0.12
dataclasses==0.8
flatbuffers==2.0.7
gast==0.5.4
grpcio==1.48.2
h5py==3.1.0
idna==3.4
importlib-metadata==4.8.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.7
mock==5.1.0
numpy==1.19.5
onnx==1.14.1
onnxruntime==1.10.0
protobuf==4.21.0
requests==2.27.1
six==1.16.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tf2onnx==1.14.0
typing_extensions==4.1.1
urllib3==1.26.16
Werkzeug==2.0.3
zipp==3.6.0
